@model IEnumerable<FitnessApp.Models.ApplicationViewModels.FitnessClassRegistrationView>

@{
    ViewData["Title"] = "Your Registrations";
}

<h2>@ViewData["Title"]</h2>
<form asp-action="RegistrationIndex">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FitnessClassTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstructorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WaitListed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeleteRegistration)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FitnessClassTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaitListed)
                </td>
                <td>
                    <input type="checkbox"
                           name="deleteSelected"
                           value="@item.RegistrationRecord_Id"
                           @(Html.Raw(item.DeleteRegistration ? "checked=\"checked\"" : "")) />
                </td>
            </tr>
            }
        </tbody>
    </table>
    @if (Model.Count() > 0)
    {
        <div class="col-md-10">
            <input type="submit" value="Delete Registrations" class="btn btn-primary" />
        </div>
    }
</form>
