@model IEnumerable<FitnessApp.Models.ApplicationViewModels.AnnouncementView>

@{
    ViewData["Title"] = "Annoucements";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="pre-scrollable">
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a class="btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
